<html>
<body>
<div>
    <form method="post">
        <input type="text" name="nameProject" placeholder="Введите название проекта" />
        <input type="text" name="discriptionProject" placeholder="Введите описание проекта">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список проектов</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <button type="submit">Найти</button>
</form>
{{#projects}}
    <div>
        <b>{{id}}</b>
        <span>{{nameProject}}</span>
        <i>{{discriptionProject}}</i>
        <a href="project">посмотреть</a>
    </div>
{{/projects}}
<a href="/">на главную</a>
</body>
</html>
